.info {
  margin-top: 4rem;
  width: 100%;

  @media screen and (max-width: 600px) {
    margin-top: 2rem;
  }

  &-list {
    padding: 1.5rem;
    text-align: center;
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    color: #fbec5d;
    font-family: "DynaPuff", cursive, sans-serif;
    list-style: none;
    letter-spacing: 2px;
    text-shadow: 0.3rem 0.3rem 0.6rem #fbeb5db2;

    @media screen and (max-width: 600px) {
      padding: 1rem;
    }
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
